{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<button onclick="window.location.href='/polls/pdf'">PDF</button>
<img id='mpl-img' class='img img-responsive' src='/polls/plot/' style='margin: 10px; border: 0px solid #f16446;'/>
<script>
function generate_mpl_img2()
{
    location.reload();
}
function generate_mpl_img()
{
   var url = "polls/plot/" + Math.random().toString();
   $("#mpl-img").attr("src",url);
}
</script>

<button type='button' class='btn btn-success center-block' onclick='generate_mpl_img2()'>
   Regenerate <i class="fa fa-refresh"></i>
</button>